 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
.App{
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
  width: 100%;
  margin: 0;
}

.main-nav{
  width: 85%;
  margin-top: 1.5rem;
  margin-left: 5%;
  margin-right: 10%;
  font-weight: 700;
  color: rgb(87, 92, 95);
  font-size: 1.2rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
}
nav{
  margin-bottom: 8rem;
}
.icon{
  display: none;
}

.right-nav{
  padding-left: 0.5rem;
}

.right-nav > ul{
  list-style-type: none;
  display: flex;
}

.right-nav > ul > li {
  padding-left: 2rem;
}
@media(max-width:950px){
  .dropdown-item{
    display: none;
  }

  .icon{
    display: block;
  }
  
}

@media screen and (max-width: 950px) {
  .right-nav.responsive {
    position: relative;
  }
  .right-nav.responsive ul {
    display: flex;
    flex-direction: column;
  }
  .right-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .right-nav.responsive li {
    display: block;
    float: none;
    z-index: 1;
  }
  .right-nav.responsive .dropdown-item{
    padding: 0.5rem;
    margin-right: 2rem;
    border-bottom: 1px solid black;
  }
  .right-nav.responsive .dropdown-item:hover{
    background-color: rgba(132, 135, 137, 0.7);
  }
}

.img-pdp{
  width: 23rem;
  height: 23rem;
  border-radius: 100%;
  object-fit: cover;
}

.Home{
  margin-top: 6rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.pdp-wrapper{
  margin-right: 5rem;
  width: 30%;
}

.description{
  width: 35%;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
}
.description > p, h3, h1, h4{
}

.description > p{
  font-weight: 700;
  font-size: 1.2rem;
  font-style: bold;
  color: rgb(87, 92, 95);
}
.description > h1{
  font-weight: 700;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1.2rem;
  font-size: 2.3rem;
  letter-spacing: 5px;
}
.description > h3 {
  color: rgb(87, 92, 95);
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 1px;
}

@media screen and (max-width:1217px) {
  .main-nav{
    font-size: 0.8rem;
  }
  nav{
    margin-bottom: 3rem;
  }
  .Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-wrap: nowrap;
  }
  .pdp-wrapper{
    margin-bottom: 1rem;
    padding-right: 2rem;
  }
  .img-pdp{
    width: 14rem;
    height: 14rem;
  }
  .description{
    width: 70%;
  }
  .description > p{
    font-weight: 700;
    font-size: 1rem;
  }
  .description > h1{
    font-weight: 700;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0rem;
    font-size: 1.3rem;
    letter-spacing: 5px;
  }
  .description > h3 {
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .description> h4{
      white-space: nowrap;
  }
  .main-nav{
    margin-left: 0;
  }
}
@media screen and (min-width:450px) and (max-width:1215px) {
  .pdp-wrapper{
    margin-left: 4rem;
  }  
}

